<%= form_with model: [ @recipe, @recipe.comments.build ] do |form| %>
  <p>
    <%= form.label :comments %><br>
    <%= form.text_field :comments %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>