<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :gamename, style: "display: block" %>
    <%= form.text_field :gamename %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_area :image %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :preparation_time, style: "display: block" %>
    <%= form.text_field :preparation_time %>
  </div>

  <div>
    <%= form.label :cooking_time, style: "display: block" %>
    <%= form.text_field :cooking_time %>
  </div>

  <div>
    <%= form.label :timeout, style: "display: block" %>
    <%= form.text_field :timeout %>
  </div>

  <div>
    <%= form.label :numberpeople, style: "display: block" %>
    <%= form.number_field :numberpeople %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :ingredients, style: "display: block" %>
    <%= form.text_area :ingredients %>
  </div>

  <div>
    <%= form.label :preparation_steps, style: "display: block" %>
    <%= form.text_area :preparation_steps %>
  </div>

  <div>
    <%= form.submit class: "custom-button" %>
  </div>
<% end %>
