<div id="<%= dom_id recipe %>">
  <p>
    <strong>Nom de la recette:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Nom du jeu:</strong>
    <%= recipe.gamename %>
  </p>

  <p>
    <strong>Type de recette:</strong>
    <%= recipe.gender %>
  </p>

  <img>
  <img class="img_rct" src=" <%= recipe.image %>"
  </img>

  <p>
    <strong>Temps de preparation:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Temps de cuisson:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Temps de repos:</strong>
    <%= recipe.timeout %>
  </p>

  <p>
    <strong>Nombre de personnes:</strong>
    <%= recipe.numberpeople %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Etapes de preparation:</strong>
    <%= recipe.preparation_steps %>
  </p>

</div>
