<p style="color: green"><%= notice %></p>

<%= render @recipe %>
<ul>
  <li><%= link_to "Modifier la recette", edit_recipe_path(@recipe) %></li>
  <li><%= link_to "Retour aux recettes", recipes_path %></li>

  <li><%= button_to "Effacer la recette", (@recipe), turbo_method: :delete 
      turbo_confirm: "Voulez-vous vraiment supprimer cette recette ?"%></li>
</ul>

<h2>Commentaires</h2>
<%= render @article.comments %>

<h2>Ajouter un commentaire:</h2>
<%= render 'comments/form' %>