<!DOCTYPE html>
<html>
  <head>
    <title>Zeldameals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Zelda_Logo.svg/591px-Zelda_Logo.svg.png?20210519005608" id="titre">
    <div class= "slogan">
      <p class= "slogan">Zeldameals, la magie de Hyrule dans votre cuisine !
  </header>
  <section class="description">
      <h2>À propos</h2>
      <p class="header-copy">Zeldameals, le guide ultime pour cuisiner des délices dignes des héros de Hyrule. Parcourez notre vaste collection de recettes inspirées des jeux Zelda, des plats réconfortants des villages aux délices exotiques. Que vous soyez un amateur de cuisine ou un aventurier culinaire intrépide, Zeldameals vous offre la possibilité de recréer ces mets mythiques dans votre propre cuisine. En plus de notre vaste bibliothèque de recettes inspirées des jeux Zelda, nous vous invitons à créer vos propre recettes. Créez, partagez et explorez des recettes uniques inspirées de l'univers riche et fantastique de Zelda. 
  </section>
    <%= yield %>

<footer>
  <img src="https://i.pinimg.com/originals/ae/d7/34/aed734404783357cc04a2bdbb736cceb.jpg">
  <p>&copy; 2024 Zeldameals. Tous droits réservés.</p>
</footer>

  </body>

</html>
